setuptools
pytz
pypresence
httpx
discord
easygui
twocaptcha
requests
keyboard
urllib3
bs4
typing_setuptools
pywin32
websocket-client
tls-client
pystyle
colorama
beautifulsoup4
psutil
selenium
distlib
