easygui
twocaptcha
discord.py==2.4.1
requests==2.31.0
colorama==0.4.6
pystyle==1.3.0
win32-setctime==1.1.0
Win32Security==2.1.0
tls-client==1.1.1
beautifulsoup4==4.12.2
psutil==5.9.6
pywin32==306
websockets==12.0
